body {
    margin: 0;
    /* font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* ! carousel */
/* #carouselExampleIndicators { */
    /* padding-top: 2em !important; */
    /* margin-top: 3.5em !important; */
/* } */


@media (min-width: 576px) {
    .carousel-container {
      max-width: 100%;
      width: 100%;
      /* padding-right: var(--bs-gutter-x, 0.75rem); */
      /* padding-left: var(--bs-gutter-x, 0.75rem); */
      margin-right: auto;
      margin-left: auto;
    }
}
@media (min-width: 768px) {
    .carousel-container {
        max-width: 100%;
    }
}
@media (min-width: 992px) {
    .carousel-container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .carousel-container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .carousel-container {
        max-width: 1320px;
    }
}
@media (min-width: 1600px) {
    .carousel-container {
        max-width: 1500px;
    }
}
/*  ! END carousel */

/*  ? nav-bar */
@media (min-width: 576px) {
    #nav-custom {
        max-width: 100%;
    }
}
@media (min-width: 768px) {
    #nav-custom {
        max-width: 100%;
    }
}
@media (min-width: 992px) {
    #nav-custom {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    #nav-custom {
        max-width: 1000px;
    }
}
@media (min-width: 1400px) {
    #nav-custom {
        max-width: 1050px;
    }
}


/*  ! below carousel */
.container >.list-icon-tool {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.item__inner {
    text-decoration: none;
}
.list-icon-tool .item .item__text {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align: center;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 400;
    color: black;
}
.list-icon-tool .item__inner{
    display: flex;

    flex-direction: column;
    align-items: center;

}
.list-icon-tool .item {
    position: relative;
    display: inline-block;
}
.list-icon-tool .item::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    opacity: 0;
    height: 2px;
    background-color: black;
    transition: opacity .3s ease-in-out;
}
.list-icon-tool .item:hover::after  {
    /* width: 100%; */
    opacity: 1;
}
.list-icon-tool .item__inner:hover .item__text{
    color: red;
}

/* ? vertical_line */
.vertical_line {
    border-left: 1px solid #c0c0c0;
}

@media (min-width: 992px) {
    .tool-bottom-banner .container {
        max-width: 800px;
    }
}

/* ! top_hotline */
.top_page_hotline {
    background: #f2f2f2;
}
.top_page_hotline  .container {
    display: flex;
    justify-content: flex-end;
}

.top_page_hotline .top_hotline {

    font-weight: 600;
    text-decoration: none;
    color: #2c2c2c;
}
.top_page_hotline .top_hotline:hover {
    color: #ff0000;
    text-decoration: underline;
}

/* ! FOOTER */
#footer_container {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1rem;
}
#footer_container a {
    text-decoration: none;
}

.privacy_policy .text_privacy {
    text-decoration: none;
}
@media (min-width: 576px) {
    .privacy_policy .text_privacy {
        padding-left: 0rem;
    }
}
@media (min-width: 768px) {
    .privacy_policy .text_privacy {
        padding-left: 1rem;
    }
}
@media (min-width: 992px) {
    .privacy_policy .text_privacy {
        padding-left: 3rem;
    }
}
@media (min-width: 1200px) {
    .privacy_policy .text_privacy {
        padding-left: 4rem;
    }
}
@media (min-width: 1400px) {
    .privacy_policy .text_privacy {
        padding-left: 5rem;
    }
}
#footer_vehicles a{
    display: block;
}
#footer_hoatdong a {
    display: block;
}

/* ! contact form */
#contactForm form-group{
    font-family: 'Roboto';
    font-weight: 300;
}

section#contact form#contactForm .form-group {
    margin-bottom: 1rem;
  }
section#contact form#contactForm .form-group input, section#contact form#contactForm .form-group textarea {
    padding: 0.2rem;
}
section#contact form#contactForm ::-webkit-input-placeholder {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 300;
    color: #595a5c;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 0.1rem 3rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
    font-size: 1.1rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    margin-bottom: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    padding: 1.5rem;
    text-align: left;
    background-color: #fff;
}
#post_section .card {
    border: 0;
}

/* ! POST */
.find_out_more {
    text-decoration: none;
    font-weight: 500;
}
.find_out_more:hover {
    text-decoration: underline;
}
