/* BASE */

body {
  /* font-family: "Roboto", sans-serif;
  font-size: 18px; */
  background-color: #fdfdfd;
}


.shadow {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
.btn-danger {
  color: #fff;
  background-color: #f00000;
  border-color: #dc281e;
}
.masthead {
  /* background: #3398E1; */
  background: url('/static/image/1054250.png') no-repeat;
  background-size: 100% auto;
  background-position-y: center;
  height: auto;
  padding-bottom: 15px;
  padding-top: 10px;
}

/* END BASE */



/*  LOGIN BUTTON */
.username_login {
  color: #ffffff;
  /* margin-right: 50px; */
  border: 0px solid;
  border-radius: 5px;
}

.user-name {
  font-weight: 500;
  /* font-size: larger; */
  color: #FDFDFD;
}


#logout-button {
  position: absolute; /* Sit on top of the page content */
  display: flex; /* Hidden by default */

}



ul.user-dropdown{
  min-width: 100%; /* Set width of the dropdown */
  background: #f2f2f2;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}

.user-name:hover ul.user-dropdown {
  display: flex;	/* Display the dropdown */
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  display: block;
}

.username_login:hover .dropdown-content {
  display: block;
}


/* END LOGIN BUTTON*/

